html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  margin:0;
}

.hello {
  color: red;
}

.MuiBottomNavigationAction-root.Mui-selected svg {
  color:white;
}
.MuiBottomNavigationAction-root.Mui-selected span {
  color:white;
}

.MuiBottomNavigationAction-wrapper svg {
  color: #9e9e9e;
}

.MuiButtonBase-root.MuiIconButton-root span {
  color: white;
}

.containerDiv {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  align-content: space-between
}

.videoContainer {
  display:grid;
  height: 30vh;
  // width: 100vw;
  background-color: gray;
  align-self: start;
}

.infoContainer {
  display:grid;
  height: 10vh;
  // width: 100vw;
  background-color: #212121;
  align-self: end;
}

.videoContainer1 {
  display:grid;
  grid-column: 2/3;
  height: 30vh;
  // width: 100vw;
  background-color: gray;
  align-self: start;
}

.infoContainer1 {
  display:grid;
  grid-column: 2/3;
  height: 10vh;
  // width: 100vw;
  background-color: #212121;
  align-self:end;
}

#icon-scroll-small {
  white-space:nowrap;
  scrollbar-width:none;
  overflow:scroll;
  div {
    background-color: gray;
    border-radius:50%;
    height:15vh;
    width:15vh;
    display:inline-grid;
    margin: 3px;
  }
}

#icon-scroll-small::-webkit-scrollbar {
  display:none;
}

#icon-scroll-large::-webkit-scrollbar {
  display:none;
}

#icon-scroll-large {
  white-space:nowrap;
  scrollbar-width:none;
  overflow:scroll;
  div {
    background-color: gray;
    border-radius:50%;
    height:20vh;
    width:20vh;
    display:inline-grid;
    margin: 3px;
  }
}

#buttonScroll::-webkit-scrollbar {
  display:none;
}

#buttonScroll {
  overflow:scroll;
  white-space:nowrap;
  button{
    margin:5px;
    width:22.5vw;
  }
}

hr {
  border-style:solid;
  border-width: 0.11px;
}

#inbox-blurb {
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  p {
    text-align:center;

  }
  button {
    display:block;
  }
}

.videoScroll::-webkit-scrollbar {
  display:none;
}

.videoScroll {
  white-space:nowrap;
  overflow:scroll;
  .recentDiv {
    display:inline-grid;
    margin:0 0.5rem;
    height:26vh;
    width:40vw;
    max-width:270px;
    min-width:240px;
    min-height:135px;
    max-height: 180px;
    .recentVideo {
      background-color:gray;
      height:13vh;
      width: 40vw;
      max-width:270px;
      min-width:240px;
      min-height:135px;
      max-height: 180px;
    }
    .recentInfo {
      background-color:beige;
      height:13vh;
      width:40vw;
      max-width:270px;
      min-width:240px;
      min-height:135px;
      max-height: 180px;
    }
  }
  .recentDivStart {
    margin:0 0.5rem 0 1rem;
    
  }
  .recentDivEnd {
    margin:0 1rem 0 0.5rem;
  }
}

#libHorizontalRule {
  margin-top:1rem;
}

#library-middle {
  display:grid;
  justify-content:start;
  padding: 6px 0;
  button {
    justify-content:start;
    background:inherit;
    box-shadow:none;
    width:100vw;
  }
}

#watch-later{
  margin:0;
}

#watched-videos {
  margin:0;
}

.MuiButton-root {
  #watch-later {
    line-height:1;
  }
  #watched-videos {
    line-height:1;
  }
}

#example div .MuiFormControl-root {
  min-width:9rem;
  width:10vw;
}
.MuiFormControl-root .MuiInput-underline:before {
  border-bottom:none;
  transition:none;
}
.MuiFormControl-root .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom:none;
  transition:none;
}
.MuiFormControl-root .MuiInput-underline:after {
  border-bottom:none;
  transition:none;
}
#playlist-filter {
  display:grid;
  justify-content:space-between;
  padding: 0 1rem;
  p {
    grid-row:1;
  }
  .MuiFormControl-root {
    grid-row:1;
    align-self:center;
  }
}

#library-bottom {
  display:grid;
  justify-content:start;
  padding: 0 1rem;
  grid-template-columns:1fr;
  .MuiButton-root {
    box-shadow:none;
    background-color:transparent;
    .MuiButton-label {
      justify-content:start;
    }
  }
}

.video-tiles {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:10px 1px;
  @for $i from 1 through 3 {
    @if $i == 1 {   
      .video-tiles-#{$i} {
        grid-column:1/4;
        height:40vh;
        width:100%;
        img {
          height:32vh;
          width:100%
        }
        .video-tile-info-container {
          display:grid;
          grid-template-columns:1fr 10fr 1fr;
          grid-template-rows:8vh;
          height:20%;
          button {
            padding:0;
          }
          #video-info {
            margin:auto 0px;
          }
          #ellipsis-menu {
            margin:auto 0px;
            color:black;
          }
        }
      }
    }
    @if $i == 2{    
      .video-tiles-#{$i} {
        height:40vh;
        width:100%;
        img {
          height:32vh;
          width:100%
        }
        .video-tile-info-container {
          display:grid;
          grid-template-columns:1fr 10fr 1fr;
          grid-template-rows:8vh;
          height:20%;
          button {
            padding:0;
          }
          #video-info {
            margin:auto 0px;
          }
          #ellipsis-menu {
            margin:auto 0px;
            color:black;
          }
        }
      }
    } @else  {    
      .video-tiles-#{$i} {
        height:40vh;
        width:100%;
        img {
          height:32vh;
          width:100%
        }
        .video-tile-info-container {
          display:grid;
          grid-template-columns:1fr 10fr 1fr;
          grid-template-rows:8vh;
          height:20%;
          button {
            padding:0;
          }
          #video-info {
            margin:auto 0px;
          }
          #ellipsis-menu {
            margin:auto 0px;
            color:black;
          }
        }
      }
    }
  }
}


#video-tile-account-circle {
  justify-self:start;
  color:black;
  grid-row:1/3;
}